@font-face {
    font-family: 'Proxima Nova Regular';
    src: url('../assets/fonts/Proxima-Nova/ProximaNova-Regular.ttf');
}

@font-face {
    font-family: 'Proxima Nova Semibold';
    src: url('../assets/fonts/Proxima-Nova/ProximaNova-Semibold.ttf');
}

@font-face {
    font-family: 'Proxima Nova Extra Bold';
    src: url('../assets/fonts/Proxima-Nova/ProximaNova-Extrabld.ttf');
}

@font-face {
    font-family: 'Lora Bold Regular';
    src: url('../assets/fonts/Lora/Lora-Regular.ttf');
}

@font-face {
    font-family: 'Lora Bold Italic';
    src: url('../assets/fonts/Lora/Lora-BoldItalic.ttf');
}

@font-face {
    font-family: 'Lora Bold';
    src: url('../assets/fonts/Lora/Lora-Bold.ttf');
}
