.hero-image {
    height: 28rem;
    background-image: url('../assets/images/bears_1.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem; 
    
}

.hero-image__category {
    @extend %text-heading-n3;
    color: $color-active;
    text-transform: uppercase;
}

.hero-image__info {
    display: flex;
}



.hero-image__title {
    @extend %text-heading-n1;
    color: $color-background-main;
}

.hero-image__options {
    display: flex;
}



