// Colors
$color-babies-light: #F94F4C;
$color-babies-dark: #D44242;

$color-teenagers-light: #00B9C4;
$color-teenagers-dark: #00929A;

$color-active: #FFC830;
$color-hovered: #EEB20B;

$color-text-light: #837F89;
$color-text-dark: #2B292D;

$color-lines-light: #F7F7F9;
$color-lines-dark: #EBECF0;

$color-background-main: #FFFFFF;

// Fonts
$font-xl: 2.625rem;
$font-l: 2rem;
$font-m: 1.125rem;
$font-s: 1rem;
$font-xs: 0.875rem;

// Fonts familys
$font-primary-regular: "Montserrat Regular";
$font-primary-semibold: "Montserrat Semibold";
$font-primary-extrabold: "Montserrat Extra Bold";

$font-secondary-regular: "Lora Bold Regular";
$font-secondary-extrabold: "Lora Bold";
$font-secondary-semibold: "Lora Bold Italic";